/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
	margin: 0;
	padding: 0;
}

h1{
	text-align: center;
}

.image{
	padding-left: 35%;
	background-color: rgb(255, 255, 255);
}
.book-library{
	background-color: #ffffff;
}

.author{
	background-color: #777777;
	font-size: 10px
}
.name{
	font-weight: bold;
}

.price-block{
	background-color: #2ecc71;
	text-align: center;
}